<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>waiters app</title>

    <link rel="stylesheet" href="/css/style.css" />

    {{! tailwind }}
    <script src="https://cdn.tailwindcss.com"></script>

    {{! alphineJS }}
    <script src="//unpkg.com/alpinejs" defer></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new
      Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-N76H4S7Q');</script>
    <!-- End Google Tag Manager -->

  </head>
  <body class="bg-[#000000] md font-mono text-[#ffffff]">
    <center>
      <div class="container">
        {{{body}}}
      </div>
    </center>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-N76H4S7Q"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>

  <script>
    setTimeout(function() { const messages =
    document.querySelector(".messages"); if (messages) { messages.style.display = "none"; }; }, 3000); function resetOnClick() { return confirm("Are you sure you want to delete the data?"); }
  </script>
</html>