<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>waiters app</title>
</head>
    <body>
        <nav>
            <center>
                <h1>
                    Waiters App | Roster App
                </h1>
            </center>
        </nav>
        <center>
            {{{body}}}
        </center>
    </body>
</html>