<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>waiters app</title>

    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body>
    <center>
      <div class="container">
        {{{body}}}
      </div>
    </center>
  </body>

  <script>
  setTimeout(function() {
        const messages = document.querySelector(".messages");
        if (messages) {
            messages.style.display = "none";
        };
    }, 3000);

    function resetOnClick() {
        return confirm("Are you sure you want to delete the data?");
    }
  </script>
</html>