<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>waiters app</title>

    <link rel="stylesheet" href="/css/style.css">

</head>
    <body>
        <nav class="other">
            <center>
                <h1>
                    Waiters App | Roster App
                </h1>
            </center>
        </nav>
        <center>
            <div class="container">
                {{{body}}}
            </div>
        </center>
    </body>
</html>