<form action="/days" method="get">
  <div class="admin-page">
    <h2>Welcome to the Roster App</h2>

    {{#if successMessage}}
    <div class="messages success">
      {{successMessage}}
    </div>
    {{/if}}

    <div class="table-container">
      <table>
        <tr>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>

        <tbody>

          <tr>
            {{#each waiterNames}}
                {{#if className}}
                <td class="{{className}}">
                {{/if}}
                  <ul>
                  {{#each waiters}}
                    <li>{{this}}</li>
                  {{/each}}
                  </ul>
                </td>
            {{/each}}
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>

<form action="/reset" method="post">
    <button type="submit" onclick="return resetOnClick()">Reset roster</button>
</form>


<script>
  setTimeout(function() {
        const messages = document.querySelector(".messages");
        if (messages) {
            messages.style.display = "none";
        };
    }, 3000);

    function resetOnClick() {
        return confirm("Are you sure you want to delete the data?");
    }
</script>