<div class="container">
  <form action="/days" method="get">
    <div class="admin-page">
      <h2>Welcome to the Roster App</h2>

      <table>
        <tr>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>

        <tbody>
          {{#each waiterNames}}
           <tr>
              {{#each waiters}}
                <td>
                  <ul>
                    <li>{{this}}</li>
                  </ul>
                </td>
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </form>

  <form action="/reset" method="post">
      <button type="submit">Reset roster</button>
  </form>
</div>