<div class="login-page">
    <h2>Log in the Roster App</h2>

    <form action="/sendLoginDetails" method="post">
        {{#if errorMessage}}
        <p class="messages danger">
            {{errorMessage}}
        </p>
        {{/if}}
        <div class="enterDetails">
            <label name="emailOrName" for="email-or-username"><strong>Username</strong></label>
            <input name="emailOrName" type="text" placeholder="Enter your name">
        </div>

        {{!-- <div class="enterDetails">
            <label name="password" for="password"><strong>Password</strong></label>
            <input type="text">
        </div> --}}

        <div id="submit">
            <button class="btnForUser" type="submit">Login</button>
        </div>

    </form>

    {{!-- <span><a href="">Forgot your password?</a></span><br>
    <span>Don't have an account?</span> <a href="">Sign up</a> --}}
</div>

<script>
    setTimeout(function() {
        const messages = document.querySelector(".messages");
        if (messages) {
            messages.style.display = "none";
        };
    }, 3000);
</script>