<nav>
    <center>
    <h1>
        Waiters App | Roster App
    </h1>
    </center>
</nav>

<div class="login-page">
    <h2>Log in the Roster App</h2>

    <form action="/sendLoginDetails" method="post">
        {{#if messages.error}}
        <div class="messages danger-messages">
            {{messages.error}}
        </div>
        {{/if}}
        {{#if messages.success}}
        <div class="messages success-messages">{{messages.success}}</div>
        {{/if}}

        <div class="enterDetails">
            <label name="emailOrName" for="email-or-username"><strong>Username</strong></label>
            <input name="emailOrName" type="text" placeholder="Enter your name">
        </div>

        <div class="enterDetails">
            <label for="password"><strong>Password</strong></label>
            <input name="password" type="text" placeholder="Enter your password">
        </div>

        <div id="submit">
            <button class="btnForUser" type="submit">Login</button>
        </div>

    </form>

    {{!-- <span><a href="">Forgot your password?</a></span><br> --}}
    <span>Not registered?</span> <a href="/signUp">Register here</a>
</div>