<nav class="bg-[#242424] py-2">
  <center>
    <h1 class="text-4xl font-bold">
      <strong>
        Waiters App | Roster App
      </strong>
    </h1>
  </center>
</nav>

<div class="login-page py-2">
  <h2 class="text-2xl py-2"><strong>Log in the Roster App</strong></h2>

  <form action="/sendLoginDetails" method="post">
    {{#if messages.error}}
      <div class="messages danger-messages">
        {{messages.error}}
      </div>
    {{/if}}
    {{#if messages.success}}
      <div class="messages success-messages">{{messages.success}}</div>
    {{/if}}

    <div class="py-4">
      <label for="username"><strong>Username</strong></label>
      <div>
        <input
          class="text-[#000000] bg-[#5b5b5b] focus:bg-white rounded-md border-2"
          name="name"
          type="text"
          placeholder="Enter your name"
        />
      </div>
    </div>

    <div class="py-4" x-data="{ show: true }">
      <label for="password"><strong>Password</strong></label>
      <div class="relative">
        <input
          class="text-[#000000] bg-[#5b5b5b] focus:bg-white rounded-md border-2"
          name="password"
          type="password"
          placeholder="Enter your password"
        />
      </div>
    </div>

    <div class="py-12">
      <button class="bg-[#1ed760] hover:bg-[#0e923c] buttons" type="submit"><strong
        >Login</strong></button>
    </div>

    <div>
        <span><a class="text-[#1ed760]" href="/generatePassword">Forgot your password?</a></span><br
        />
        <span class="text-[#242424]"><strong>Not registered?</strong></span>
        <a class="text-[#1ed760]" href="/signUp">Register here</a>
    </div>

  </form>

</div>