<nav class="bg-[#242424] py-2">
  <center>
    <h1 class="text-2xl font-bold">
      <strong>
        Waiters App | Roster App
      </strong>
    </h1>
  </center>
</nav>

<div class="login-page py-2">
  <h2 class="text-lg py-2"><strong>Log in the Roster App</strong></h2>

  <form action="/sendLoginDetails" method="post">
    {{#if messages.error}}
      <div class="messages danger-messages">
        {{messages.error}}
      </div>
    {{/if}}
    {{#if messages.success}}
      <div class="messages success-messages">{{messages.success}}</div>
    {{/if}}

    <div class="py-2">
      <label name="emailOrName" for="email-or-username"><strong
        >Username</strong></label>
      <input
        class="text-[#000000]"
        name="emailOrName"
        type="text"
        placeholder="Enter your name"
      />
    </div>

    <div class="py-2" x-data="{ show: true }">
      <label for="password"><strong>Password</strong></label>
      <input
        class="text-[#000000]"
        name="password"
        type="text"
        placeholder="Enter your password"
        :type="show ? 'password' : 'text'"
      />
    </div>

    <div>
      <button class="bg-[#1ed760] hover:bg-[#0e923c]" type="submit"><strong>Login</strong></button>
    </div>

  </form>

  <span><a class="text-[#1ed760]" href="/generatePassword">Forgot your password?</a></span><br>
  <span class="text-[#242424]"><strong>Not registered?</strong></span>
  <a class="text-[#1ed760]" href="/signUp">Register here</a>
</div>