<div class="container">
    <div class="login-page">
        <h2>Log in the Roster App</h2>

        <form action="/sendLoginDetails" method="post">
            <div class="enterDetails">
                <label name="emailOrName" for="email-or-username"><strong>Email or Username</strong></label>
                <input type="text">
            </div>

            <div class="enterDetails">
                <label name="password" for="password"><strong>Password</strong></label>
                <input type="text">
            </div>

            <button type="submit">Login</button>
        </form>

        <span><a href="">Forgot your password?</a></span><br>
        <span>Don't have an account?</span> <a href="">Sign up</a>
    </div>
</div>