<div class="container">
    <div class="waiters-page">
        <form action="/waiters/username" method="get">
            <div class="waiters-page">
                <h2>Hello Waiter</h2>
            </div>
        </form>
    </div>
</div>