<nav class="other">
    <div class="anchor">
      <a href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-arrow-left-circle-fill svgIcon"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
          />
        </svg>
      </a>
    </div>
    <center>
      <h1>
        Waiters App | Roster App
      </h1>
    </center>
</nav>

<form action="/waiters/{{waiterName}}" method="post">

  <div class="waiters-page">
    <h2>Welcome to the Roster App</h2>

    {{#if messages.error}}
    <div class="messages danger-messages">
      {{messages.error}}
    </div>
    {{/if}}

    {{#if messages.success}}
    <div class="messages success-messages">
      {{messages.success}}
    </div>
    {{/if}}

    <div class="table-container">
      <table>
        <tr>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>

        <tbody>
          <tr>
          {{#each shift}}
            <td>
              <label for="Monday">
                <input
                  type="checkbox"
                  name="weekDay"
                  value="{{day}}"
                  class="checkBox"
                  {{#if isChecked}}
                  checked
                  {{/if}}
                />
              </label>
            </td>
        {{/each}}
          </tr>
        </tbody>
      </table>
    </div>

    <div id="submit">
        <button class="btnForUser" type="submit">Submit roster</button>
    </div>
  </div>
</form>


<script>
  setTimeout(function() {
        const messages = document.querySelector(".messages");
        if (messages) {
            messages.style.display = "none";
        };
    }, 3000);
</script>