<nav class="bg-[#242424] py-2">
  <div class="flex flex-row">
    <div class="basis-1/4">
      <form action="/logout" method="post">
          <button type="submit">Logout</button>
      </form>
    </div>

    <div class="basis-1/2">
      <center>
        <h1 class="text-4xl font-bold">
          <strong>
            Waiters App | Roster App  
          </strong>
        </h1>
      </center>
    </div>
  </div>
</nav>

<form action="/waiters/{{waiterName}}" method="post">

  <div class="waiters-page text-lg py-4">
    <h2 class="text-2xl py-2"><strong>Welcome to the Roster App</strong></h2>

    {{#if messages.error}}
    <div class="messages danger-messages py-2">
      {{messages.error}}
    </div>
    {{/if}}

    {{#if messages.success}}
    <div class="messages success-messages py-2">
      {{messages.success}}
    </div>
    {{/if}}

    <div class="table-container py-6">
      <table class="table-auto">
        <thead>
          <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
          </tr>
        </thead>

        <tbody>
          <tr class="">
          {{#each shift}}
            <td>
              <label for="Monday">
                <input
                  type="checkbox"
                  name="weekDay"
                  value="{{day}}"
                  class="w-8 h-8 checked:accent-[#0e923c]"
                  {{#if isChecked}}
                  checked
                  {{/if}}
                />
              </label>
            </td>
        {{/each}}
          </tr>
        </tbody>
      </table>
    </div>

    <div class="py-12">
        <button class="bg-[#1ed760] hover:bg-[#0e923c] buttons" type="submit">Submit roster</button>
    </div>
  </div>
</form>