<form action="/waiters/{{waiterName}}" method="post">

  <div class="waiters-page">
    <h2>Welcome to the Roster App</h2>

    {{#if errorMessage}}
    <div class="messages danger">
      {{errorMessage}}
    </div>
    {{/if}}

    {{#if successMessage}}
    <div class="messages success">
      {{successMessage}}
    </div>
    {{/if}}

    <div class="table-container">
      <table>
        <tr>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>

        <tbody>
          <tr>
            <td>
              <label for="Monday">
                <input
                  type="checkbox"
                  name="weekDay"
                  value="monday"
                  class="checkBox"
                  {{#if isChecked}}
                  checked
                  {{/if}}
                />
              </label>
            </td>

            <td>
              <label for="Tuesday">
                <input
                  type="checkbox"
                  name="weekDay"
                  value="tuesday"
                  class="checkBox"
                  {{#if isChecked}}
                  checked
                  {{/if}}
                />
              </label>
            </td>

            <td>
              <label for="Wednesday">
                <input
                  type="checkbox"
                  name="weekDay"
                  value="wednesday"
                  class="checkBox"
                  {{#if isChecked}}
                  checked
                  {{/if}}
                />
              </label>
            </td>

            <td>
              <label for="Thursday">
                <input
                  type="checkbox"
                  name="weekDay"
                  value="thursday"
                  class="checkBox"
                  {{#if isChecked}}
                  checked
                  {{/if}}
                />
              </label>
            </td>

            <td>
              <label for="Friday">
                <input
                  type="checkbox"
                  name="weekDay"
                  value="friday"
                  class="checkBox"
                  {{#if isChecked}}
                  checked
                  {{/if}}
                />
              </label>
            </td>

            <td>
              <label for="Saturday">
                <input
                  type="checkbox"
                  name="weekDay"
                  value="saturday"
                  class="checkBox"
                  {{#if isChecked}}
                  checked
                  {{/if}}
                />
              </label>
            </td>

            <td>
              <label for="Sunday">
                <input
                  type="checkbox"
                  name="weekDay"
                  value="sunday"
                  class="checkBox"
                  {{#if isChecked}}
                  checked
                  {{/if}}
                />
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="submit">
        <button type="submit">Submit roster</button>
    </div>
  </div>
</form>


<script>
  setTimeout(function() {
        const messages = document.querySelector(".messages");
        if (messages) {
            messages.style.display = "none";
        };
    }, 3000);
</script>