:root {
  /* color scheme from coolors.co */
  --body-color: #242424;
  --text-color: #ffffff;
  --important-areas-color: #000000;
  --action-color: #1ed760;
  --other-color: #0e923c;
  --warning-color: #f28123;
  --danger-color: #ff4a1c;
}

li {
  list-style: none;
}

ul,
li {
  margin-bottom: 5px;
}

.table-container {
  overflow-x: var(--overflow);
}

table {
  width: 50%;
}

table,
th,
td {
  border-bottom: 1px solid var(--text-color);
  border-collapse: collapse;
  padding: var(--padding);
}

.success {
  background-color: var(--other-color);
}

.warning {
  background-color: var(--warning-color);
}

.danger {
  background-color: var(--danger-color);
}

.success-messages {
  color: var(--action-color);
}

.danger-messages {
  color: var(--danger-color);
}

@media (max-width: 600px) {
  th,
  td {
    padding: 4px;
    font-size: 12px;
  }
}
