:root {
    /* color scheme from coolors.co */
    --body-color: #242424;
    --text-color: #FFFFFF;
    --important-areas-color: #000000;
    --action-color: #1ed760;
    --waring-color: orange;
    --danger-color: red;

    --border-radius: 10px;
    --padding: 10px;
    --other-padding: 3em;
    --margin: 48px 0px;
    --text-uppercase: uppercase;
    --overflow: auto;
}

body {
    color: var(--text-color);
    background-color: var(--body-color);
}

.container {
    display: grid;
    text-transform: var(--text-uppercase);
}

.other {
    font-weight: 700;
    padding: 20px 0px 20px 35px;
    margin-bottom: 0px;
    border-bottom: none;
}

nav {
    background-color: var(--important-areas-color);
    border-radius: var(--border-radius);
    font-size: 1.5em;
}

.waiters-page {
    margin: var(--margin);
}

.admin-page {
    margin: var(--margin);
}

li {
    list-style: none;
}

.table-container {
    overflow-x: var(--overflow);
}

table {
    width: 50%;
}

table, th, td {
    border-bottom: 1px solid var(--text-color);
    border-collapse: collapse;
    padding: var(--padding);
}

.success {
    background-color: var(--action-color);
}

.warning {
    background-color: var(--waring-color);
}

.danger {
    background-color: var(--danger-color);
}

.success-messages {
    color: var(--action-color);
}

.danger-messages {
    color: var(--danger-color);
}

.checkBox {
    accent-color: var(--action-color);
    transition: all 0.3s ease-in-out;
}

.checkBox:hover {
    transform: scale(1.1);
}

input {
    font-size: 1em;
    font-weight: 500;
    box-shadow: inset 0 0 0 1px var(--text-color);
    color: var(--important-areas-color);
}

.btnForUser {
    background-color: var(--action-color);
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    border-radius: 500px;
    font-size: inherit;
    min-block-size: 48px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    padding-block: 8px;
    padding-inline: 32px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: var(--text-uppercase);
    font-weight: bold;
}

.btnForUser:hover {
    transform: scale(1.1);
}

#submit {
    padding-top: var(--other-padding);
}

@media (max-width: 600px) {
    th, td {
        padding: 4px;
        font-size: 12px;
    }
}